<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="0.25">
<path fill-rule="evenodd" clip-rule="evenodd" d="M13.75 2.5C14.5376 2.5 15.2734 2.68911 15.9151 3.02568L5.40369 13.5371C3.07255 11.2282 1.66669 9.29634 1.66669 7.08333C1.66669 4.50833 3.68335 2.5 6.25002 2.5C7.70002 2.5 9.09169 3.175 10 4.23333C10.9084 3.175 12.3 2.5 13.75 2.5ZM8.79169 16.6917C7.98933 15.9641 7.23794 15.2825 6.54651 14.6347L17.1749 4.00627C17.8982 4.81336 18.3334 5.88721 18.3334 7.08333C18.3334 10.225 15.5 12.8 11.2084 16.6917L10 17.7917L8.79169 16.6917Z" fill="black"/>
</g>
</svg>