<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="0.25">
<path d="M10 17.7917L8.79169 16.6917C4.50002 12.8 1.66669 10.225 1.66669 7.08333C1.66669 4.50833 3.68335 2.5 6.25002 2.5C7.70002 2.5 9.09169 3.175 10 4.23333C10.9084 3.175 12.3 2.5 13.75 2.5C16.3167 2.5 18.3334 4.50833 18.3334 7.08333C18.3334 10.225 15.5 12.8 11.2084 16.6917L10 17.7917Z" fill="black"/>
</g>
</svg>