<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="0.25">
<circle cx="3.66669" cy="9.6665" r="2" fill="black"/>
<circle cx="9.66669" cy="9.6665" r="2" fill="black"/>
<circle cx="15.6667" cy="9.6665" r="2" fill="black"/>
</g>
</svg>
