
<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="0.25">
<path d="M10 4L3 10L10 16V12.5C10 12.5 14.802 11.9579 17.2115 14.3323C17.2115 7.91272 10 7.5 10 7.5V4Z" fill="black"/>
</g>
</svg>
